#detail {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

#detail h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

#detail img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#detail p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}